<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126043597249-gsk5uv67v96dtghtrmtoaa9t5rov65mo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126043597249-gsk5uv67v96dtghtrmtoaa9t5rov65mo</string>
	<key>API_KEY</key>
	<string>AIzaSyAsfDQ-AE5hYCcqQdwehvJYVxeHUa493_I</string>
	<key>GCM_SENDER_ID</key>
	<string>126043597249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kanily.flavortest</string>
	<key>PROJECT_ID</key>
	<string>flavor-test-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>flavor-test-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126043597249:ios:d5955a8b76ca65f7</string>
	<key>DATABASE_URL</key>
	<string>https://flavor-test-dev.firebaseio.com</string>
</dict>
</plist>